{% extends 'doctor_base.html' %}
{% load static %}
{% block title %}Doctor Profile{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">My Profile</h4>
    </div>
    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="{% url 'core:doctor_edit_profile' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap mb-3">
                    <img class="inline-block rounded-circle" src="{% if doctor.photo %}{{ doctor.photo.url }}{% else %}{% static 'assets/img/user.jpg' %}{% endif %}" alt="Doctor">
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">{{ user.doctor.full_name }}</h3>
                                <small class="text-muted">{{ user.doctor.specialty }}</small>
                                <div class="staff-id">Employee ID: DR-{{ user.id }}</div>
                                <div class="staff-msg"><a href="#" class="btn btn-primary">Send Message</a></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Phone:</span>
                                    <span class="text"><a href="#">Not provided</a></span>
                                </li>
                                <li>
                                    <span class="title">Email:</span>
                                    <span class="text"><a href="#">{{ user.email }}</a></span>
                                </li>
                                <li>
                                    <span class="title">Birthday:</span>
                                    <span class="text">{% if user.profile.dob %}{{ user.profile.dob|date:"jS F" }}{% else %}Not provided{% endif %}</span>
                                </li>
                                <li>
                                    <span class="title">Address:</span>
                                    <span class="text">{% if user.profile.address %}{{ user.profile.address }}{% else %}Not provided{% endif %}</span>
                                </li>
                                <li>
                                    <span class="title">Gender:</span>
                                    <span class="text">{% if user.profile.gender %}{{ user.profile.get_gender_display }}{% else %}Not provided{% endif %}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Messages</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h3 class="card-title">Education Information</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#" class="name">Medical College (UG)</a>
                                            <div>MBBS</div>
                                            <span class="time">2000 - 2004</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-box mb-0">
                        <h3 class="card-title">Experience</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#" class="name">Consultant {{ user.doctor.specialty }}</a>
                                            <span class="time">2010 - Present</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            Additional profile information (coming soon)
        </div>
        <div class="tab-pane" id="bottom-tab3">
            Messages (coming soon)
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function() {
            // Ensure tabs work with Bootstrap
            $('.nav-tabs a').on('click', function(e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock %}